DATABASE_URL=postgresql+asyncpg://sebastian:1234@localhost:5432/Dashboard_ERP
JWT_SECRET_KEY=ca872cee0462ed671bd0c7928f93ae808ef2108fa3d3af9d6ddf01b2cdfb443f
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7